.home-container {
    padding: 0 18vw;
}

@media (max-width: 576px) {
    .home-container {
        padding: 0 2vw;
    }
}

.input {
    height: 48px;
}

.search-btn {
    background-color: #e31010;
    color: white;
    border-radius: 0.375rem;
    padding: 0.35rem 0.75rem;
}

.pointer {
    cursor: pointer;
}

.buisness-logo-container {
    width: max(68px, 6vw);
    height: auto;
}

.icon {
    padding-top: 0.1rem;
}
