body {
    margin: 0;
}

nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0 5%;
}

.nav-items {
    margin-right: 15px; 
    text-decoration: none; 
    font-size: 13px;
}

.nav-button {
    width: 130px; 
    height: 40px; 
    background-color: #6246ea; 
    border: 0; 
    border-radius: 5px; 
    color: white;
}

main {
    background-color: rgb(245, 245, 245);
}

footer {
    padding: 2% 15%; 
    background-color: #d1d1e9;
}

.footer-fist-child {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-end;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-style: solid;
    border-color: #d1d1e9;
    border-bottom-color: rgb(245, 245, 245);
    border-width: 2px;
}

.logo-slogan {
    margin-top: 7px; 
    margin-bottom: 7px;
    color: #2b2c34;
}

.footer-second-child {
    color: #2b2c34; 
    font-size: 13px;
}

h1, h2, h3, h4, h5, p, a, button {
    font-family: "Poppins", sans-serif;
}

.fw-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.fw-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.fw-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.fw-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fw-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.fw-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.fw-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.fw-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.fw-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.fw-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.fw-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.fw-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.fw-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.fw-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.fw-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.fw-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.fw-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.fw-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}